.gradient_one {
    opacity: 60%;
    filter: blur(50px);
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
    background-image: linear-gradient(
      to right,
      hsl(330, 100%, 45.1%) 0%,
      hsl(331, 89.25%, 47.36%) 8.1%,
      hsl(330.53, 79.69%, 48.96%) 15.5%,
      hsl(328.56, 70.89%, 49.96%) 22.5%,
      hsl(324.94, 63.52%, 50.4%) 29%,
      hsl(319.21, 54.99%, 50.3%) 35.3%,
      hsl(310.39, 46.14%, 49.68%) 41.2%,
      hsl(296.53, 39.12%, 49.7%) 47.1%,
      hsl(280.63, 42.91%, 53.43%) 52.9%,
      hsl(265.14, 47.59%, 56.84%) 58.8%,
      hsl(250.13, 52.52%, 59.88%) 64.7%,
      hsl(235.88, 59.2%, 60.91%) 71%,
      hsl(225.81, 68.23%, 57.85%) 77.5%,
      hsl(218.93, 74.97%, 54.21%) 84.5%,
      hsl(213.89, 79.63%, 49.97%) 91.9%,
      hsl(210, 100%, 45.1%) 100%
    );
    background-size: 400%;
    background-position: 0%;
    background-repeat: repeat;
    animation: gradient 10s linear infinite;
  }
  
  /* keyframe to animate the gradient  */
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
   
  }